$color-white: hsl(0, 0%, 100%);
$color-stone-100: hsl(30, 54%, 90%);
$color-stone-150: hsl(30, 18%, 87%);
$color-stone-600: hsl(30, 10%, 34%);
$color-stone-900: hsl(24, 5%, 18%);

$color-brown-800: hsl(14, 45%, 36%);
$color-rose-800: hsl(332, 51%, 32%);
$color-rose-50: hsl(330, 100%, 98%);

$paragraph-font-size: 1.6rem;

$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

// spacing
$spacing-1600: 12.8rem;
$spacing-600: 4.8rem;
$spacing-500: 4rem;
$spacing-400: 3.2rem;
$spacing-300: 2.4rem;
$spacing-200: 1.6rem;
$spacing-150: 1.2rem;
$spacing-100: 0.8rem;

//text-sizes
$text-preset-1: 4rem;
$text-preset-1-mob: 3.6rem;
$text-preset-2: 2.8rem;
$text-preset-3: 2rem;
$text-preset-4: 1.6rem;

//breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-ipad: 1024px;
$breakpoint-ipad-pro: 1366px;
